@page {
  size: A4;  
   margin: .9cm;
}


@media print {

   body.print-paper-a4 {
    width: 210mm;
    height: 297mm;
  }

   body {
       background: white;
       margin: 0;
       padding: 0;
   }

   .print-stage,
   .no-print {
       display: none;
   }


   body.print-paper.a4 .print-paper {
      width: 210mm;
      height: 297mm;
    }

   .print-paper {
       page-break-after: always;
       margin: 0;
       padding: .8cm;
       border:none;
       overflow: hidden;
   }

}

.print-papers {
    display: block;
    z-index: 2000;
    margin: auto;

}


body.print-paper-a4 .print-paper {
    width: 21cm;
    height:27cm;
}


.print-paper {
    margin: .6cm auto;
    background: white;
    border: 1px dotted black;
    box-sizing: border-box;
    padding: 0cm .6cm 0cm .6cm;
    overflow: hidden;   
}


body.print-mode .no-print-preview {
    display: none;
}

body.print-mode .print-preview {
    display: block;
}
.top-header{
	border-bottom: 1px dotted black;
	margin-top: 0px;
}
.top-headerdetails{
	border-bottom: 1px dotted black;
	margin-top: 0px;
}
.Chalan-details1{
	width: 80px;
	font-family: Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;
	font-size: 11px;
	text-transform: uppercase;
	line-height: 1;
	display: inline-block;
	text-align: Leff;
	background-color: transparent;
	margin-top: 10px;
	margin-left: 20px;
	border-bottom: 1px dotted black;
}
.Chalan-details2{
	width: 125px;
	font-family: Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;
	font-size: 11px;
	text-transform: uppercase;
	line-height: 1;
	display: inline-block;
	text-align: Leff;
	background-color: transparent;
	margin-top: 10px;
	margin-left: 10px;
}
.Chalan-details3{
	width: 225px;
	display: inline-block;
}
.Chalan-details4{
	width: 80px;
	font-family: Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;
	font-size: 11px;
	text-transform: uppercase;
	line-height: 1;
	display: inline-block;
	text-align: Leff;
	background-color: transparent;
	margin-top: 10px;
	margin-left: 20px;
}
.Chalan-details5{
	width: 125px;
	font-family: Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;
	font-size: 11px;
	text-transform: uppercase;
	line-height: 1;
	display: inline-block;
	text-align: Leff;
	background-color: transparent;
	margin-top: 10px;
	margin-left: 10px;
}
.footerdetails{
	border-top: 1px dotted black;
	border-bottom: 1px dotted black;
	margin-top: 250px;
}
.driversign{
	border-top: 1px dotted black;
	margin-top: 70px;
	margin-left: 50px;
	display: inline-block;
	float: left;
}
.despatchsign{
	border-top: 1px dotted black;
	margin-top: 70px;
	margin-right: 50px;
	display: inline-block;
	float:right;
}