@page {
  size: A4;  
   margin: .8cm;
}


@media print {

   body.print-paper-a4 {
    width: 210mm;
    height: 297mm;
	border:1px solid #73879C;
	box-shadow:0 0 10px rgba(0, 0, 0, .15);
  }

   body {
       background: white;
       margin: 0;
       padding: 0;
   }

   .print-stage,
   .no-print {
       display: none;
   }


   body.print-paper.a4 .print-paper {
      width: 210mm;
      height: 297mm;
    }

   .print-paper {
       page-break-after: always;
       margin: 0;
       padding: .8cm;
       border:none;
   }

}

.print-papers {
    display: block;
    z-index: 2000;
    margin: auto;

}


body.print-paper-a4 .print-paper {
    width: 21cm;
    height:27cm;
}


.print-paper {
    margin: .6cm auto;
    background: white;
    box-sizing: border-box;
    padding: 0cm .6cm 0cm .6cm;
    overflow: hidden;   
}


body.print-mode .no-print-preview {
    display: none;
}

body.print-mode .print-preview {
    display: block;
}

.invoice-top{
	max-width:210mm;
	margin:auto;
	padding:10px;
	font-size:12px;
	line-height:15px;
	font-family:'sans-serif','Helvetica Neue', 'Helvetica', Arial;
	color:#555;
}
.invoice-button{
	border-bottom: 1px solid #73879C;
	padding-bottom: 10px;
	display: inline-block;
	text-align: right;
	background-color: transparent;
	float:right;
}
.invoice-head{
	border-bottom: 1px solid #73879C;
	padding-bottom: 5px;
}
.content-add{
	display: inline-block;
	text-align: Leff;
	background-color: transparent;
	margin-left: 5px;
}
.invoice-logo{
	display: inline-block;
	text-align: right;
	background-color: transparent;
	float:right;
	vertical-align:middle;
	margin-right: 20px;
	margin-top: 0px;
}
.invoice-detail{
	margin:auto;
	border:1px solid #73879C;
}
.content-party{
	display: inline-block;
	text-align: left;
	background-color: transparent;
	float:left;
	margin-top: 10px;
	margin-left: 5px;
}
.content-date{
	display: inline-block;
	text-align: right;
	background-color: transparent;
	float:right;
	font-size:13px;
	line-height:18px;
}

.invoice-payment{
	border-top: 1px solid #73879C;
}
.content-payment{
	display: inline-block;
	text-align: Leff;
	background-color: transparent;
	margin-top: 10px;
	margin-left: 20px;
	float: left;
	width: 200px;
}
.Prior-Balance{
	display: inline-block;
	background-color: transparent;
	text-align: center;
	vertical-align: middle;
	margin-top: 40px;
	float: left;
	width: 200px;
}
.content-payment-total{
	display: inline-block;
	background-color: transparent;
	margin-top: 10px;
	margin-right: 20px;
	float: right;
	width: 250px;
}
.amount-word{
	margin-top: 20px;
	margin-left:20px;
	clear:both;
}
.disclaimer{
	background-color: transparent;
	padding: 10px;
	border:1px solid #73879C;
	position: absolute;
    top: 265mm;
	height: 100px;
	max-width:200mm;
	margin: 10px 5px 10px 5px;
}

.top-header{
	border-bottom: 1px dotted black;
	margin-top: 0px;
}